In [4]:
import pandas as pd

In [2]:
#1
if pd.Series([False, True, False]):
    print("i was true")

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [3]:
#Solution
if pd.Series([False, True, False]) is not None:
    print("i was something")

i was something

In [3]:
#using any Function
#2
if pd.Series([False, True, False]).any():
    print("i am any")

i am any

In [3]:
#For lack of NA (missing) support from the ground up in NumPy and Python in general, we were given the difficult choice between either

#*A masked array solution: an array of data and an array of boolean values indicating whether a value
#*Using a special sentinel value, bit pattern, or set of sentinel values to denote NA across the dtypes

In [ ]:
#he special value NaN (Not-A-Number) is used everywhere as the NA value
#there are API functions isnull and notnull which can be used across the dtypes to detect NA values.

#2
s = pd.Series([1, 2, 3, 4, 5, 6], index=list('abcdef'))
s

In [14]:
s.dtype

dtype('int64')

In [9]:
#3
s2 = s.reindex(['a', 'b', 'c', 'h', 'e', 'r'])
s2

a    1.0
b    2.0
c    3.0
h    NaN
e    5.0
r    NaN
dtype: float64

In [15]:
#4
s.dtype

dtype('int64')

In [13]:
s2.dtype

dtype('float64')

In [16]:
series=pd.Series([1,2,3,4])
df=pd.DataFrame(index=[3,4,5,6])
df['col']=series
df

   col
3  4.0
4  NaN
5  NaN
6  NaN

In [18]:
#Solution
df['col']=series.values
df

   col
3    1
4    2
5    3
6    4

In [19]:
df=pd.DataFrame({'col':[1,np.nan]})
df==np.nan

NameError: name 'np' is not defined